extends layout

block content
  h1=  title
  p Sends Dynamic Ingest requests and receives notifications

  p After you've submitted your requests, go to the <a href="http://solutions.brightcove.com:5000/dashboard">Dashboard</a> to see the progress.

  p#logger(class = 'logger')

  p Data format
  p Hint: there is a <a href="http://solutions.brightcove.com/bcls/di-transceiver/assets/video-files.html">Data Generator</a>

  pre(style="background-color:#f5f5f5;padding:4px;").
      [
        {
          "di": {
            "master": {
              "url": "http://learning-services-media.brightcove.com/videos/mp4/Bird_Sea_oystercatcher.mp4"
            },
            "capture-images": true,
            "profile": "videocloud-default-v1"
          },
          "cms": {
            "name": "transceiver-Bird_Sea_oystercatcher-2015-11-22T14:31:29.608Z-0",
            "description": "transceiver-Bird_Sea_oystercatcher-2015-11-22T14:31:29.608Z-0",
            "reference_id": "transceiver-Bird_Sea_oystercatcher-2015-11-22T14:31:29.608Z-0",
            "tags": [
              "bird",
              "sea"
              ]
          }
        },...
      ]
  h2 Ingest data

  p Paste in data below and then click the submit button.

  p.
  button#submitData Submit Data
  p.
  textarea#ingestData

  script(src='/javascripts/index.js')
